#about {
    width: 1200;
}

#About-Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    padding-left: 150px;
    padding-right: 150px;
}

#About-Container img {  
    position: relative;
    left: 100px;
    background-image: linear-gradient(94.3deg, rgba(26, 33, 64, 1) 10.9%, rgba(81, 84, 115, 1) 87.1%);
    border-radius: 15px;
    height: 350px;
    width: 350px;
    box-shadow: 30px 30px 10px 5px#002244;
}

#About-Container h2 {
    position: relative;
    font-size: 60px;
    color: #002244;
    top: 20px;

}

#About-Container p {
    font-size: 20px;
    color: darkgrey;
    padding-bottom: 30px;
}

#About-Container button {
    padding: 15px;
    width: 140px;
    color: #002244;
    font-family: sans-serif;
    font-weight: bold;
    margin: 10px;
    border-radius: 40px;
}

#About-Container button:hover {
    background-color: #002244;
    color: white;
    box-shadow: 10px 5px 10px #002244;
}

@media (max-width: 600px) {

    #about {
        width: 600px;
    }

    #About-Container {
        display: flex;
        height: fit-content;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0px 40px;
    }

    #About-Container h2 {
        font-size: 30px;
        width: fit-content;
        margin: 0;
        padding-bottom: 30px;
    }

    #About-Container p {
        width: 500px;
        font-size: 15px;
        
    }

    #About-Container img {
       position: absolute;
        bottom: 50px;
        left: 30px;
        height: 200px;
        width: 200px;
        box-shadow: 10px 10px 2px 1px#002244;
        margin-bottom: 80px;
    }

    #About-Container button {
        position: relative;
        left: 220px;
        margin: 0;
        width: 120px;
        margin-top: 120px;
        padding: 10px 10px;
    }
}