

/* Styles for header section */
#header-section {
    height: 100%;
    min-height: 100vh;
}

/* Styles for header container */
#header-Container {
    display: grid;
    grid-template-columns: 50px 1.5fr 2fr;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 40px 20px;
}

/* Styles for header title */
h1 {
    position: relative;
    left: 10px;
    background-color: #002244;
    color: white;
    padding: 5px 5px;
    border-radius: 50%;
    text-align: center;
}

/* Styles for applicant name */
#applicant-Name {
    position: relative;
    left: 20px;
    font-weight: lighter;
}

#applicant-Name strong {
    color: #002244;
}

/* Styles for button container */
#button-Container ul {
    display: flex;
    gap: 20px;
    text-align: center;
}

#button-Container li {
    list-style-type: none;
}

/* Styles for header buttons */
.header-Button {
    border: none;
    background-color: transparent;
    color: #002244;
    font-family: serif;
    font-size: 16px;
    position: relative;
    top: 10px;
}

.header-Button:active,
.header-Button:focus {
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #0070BB;
}

/* Styles for hire me button */
#header-Hireme {
    position: relative;
    font-family: serif;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: white;
    color: #002244;
}

#header-Hireme:hover {
    background-color: #002244;
    color: white;
    box-shadow: 10px 5px 10px #002244;
    font-weight: bold;
}

/* Media query for screens with a max width of 600px */
@media (max-width: 600px) {

    body {
        width: 600px;
    }

    #header-Container {
        display: flex;
        align-items: center;
        overflow: hidden;
        padding: 40px 20px;
    }

    #button-Container {
     padding: 10px 20px;
        
    }

    #button-Container ul {
        gap: 20px;
    }
    

    h1 {
        padding: 5px 10px;
    }
    #applicant-Name {
        display: none   ;
    }

    .header-Button {
       position: relative;
       top: 10px;
    }

    #header-Hireme  {
        position: relative;
        top: 2px;
    }
}